.nwm-user-list-title {
  font-family: "Guardian-Bold","HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.nwm-user-list-heading,
.nwm-user-list-link {
  font-family: "Guardian-Light","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.panel-sliders-list {
  border-top: 4px solid #ffb81c;
}

.media-object {
  max-width: 3rem;
}
