$color-palette: (
  honey: #ffb81c,
  navy: #002b49,
  slate: #777,
  steel: #eee,
);

// $font-palette: (
//   bold: "Guardian-Bold","HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,
//   light: "Guardian-Light","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,
// );
